@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    font-family: 'Mitr', sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: black;
}

.content{
    color: white;
    padding: 1rem;
    margin-left: 10vw;
    width: 80%;
}

.content div{
  font-size: 3rem;
  font-weight: bold;
  color: white;
  display: flex;
}

.rubber{
  display: inline-block;
  transition: 0.4s ease-in-out;
  margin: 0 3px;
  font-size: 4rem;
}

.content p{
    margin: 0.5rem;

}

.animated{
  animation: rubberBand 0.7s forwards ease;
  animation-iteration-count: 1;
  color: cyan;
}
@keyframes rubberBand{
    from {
        transform: scale(1,1)
      }
    
      30% {
        transform: scale(1.25, 0.75);
      }
    
      40% {
        transform: scale(0.75, 1.25);
      }
    
      50% {
        transform: scale(1.15, 0.85);
      }
    
      65% {
        transform: scale(0.95, 1.05);
      }
    
      75% {
        transform: scale(1.05, 0.95);
      }
    
      to {
        transform: scale(1, 1);
      }
}


@media(max-width:800px){
  .content div span{
    margin-top: 10vh;
    font-size: 2rem;
  }
}